﻿@model IEnumerable<TestHotel.Booking>

@{
    ViewBag.Title = "Booking";
}

<h2>Booking</h2>

<p>
    @Html.ActionLink("Create New Booking", "CreateBooking")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Card.CardNumberBase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstNightDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalCastomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CBBookingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfRoom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SendToCsv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capaign)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Card.CardNumberBase)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstNightDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalCastomerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CBBookingID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfRoom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SendToCsv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capaign)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.ActionLink("Edit", "BookingCreate", new { id = item.CardID }) |
            @using (Html.BeginForm("BookingDelete", "Customer", new { id = item.BookingID }, FormMethod.Post, new { id = "delete" }))
            {
                @Html.AntiForgeryToken()
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="javascript:{
                   if(confirm('You have delete this customer!')) {
                        document.getElementById('delete').submit();
                   }}">Delete</a>
                    </li>
                </ul>
            }
        </td>
    </tr>
}

</table>
