﻿@model IEnumerable<TestHotel.Card>

@{
    ViewBag.Title = "Cards";
}

<h2>Cards @Html.DisplayNameFor(model => model.Customer.Name)</h2>

<p>
    @Html.ActionLink("Create New Card", "CardCreate", new { id = 0 })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalCustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CardType)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(model => item.IssueDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.SiteID)
            </td>
            <td>
                @Html.DisplayFor(model => item.LocalCustomerID)
            </td>
            <td>
                @Html.DisplayFor(model => item.CardType)
            </td>
            <td>
                @Html.ActionLink("Edit", "CardCreate", new { id = item.CardID }) |
                @Html.ActionLink("Details", "CardDetail", new { id = item.CardID })
            </td>
        </tr>
    }

</table>

