﻿@model IEnumerable<TestHotel.Customer>

@{
    ViewBag.Title = "Customer Load All";
}

<h2>Customer Load All</h2>

<p>
    @Html.ActionLink("Create New Customer", "CustomerCreate", new {id = 0})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteID)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteID)
        </td>
        <td>
            @Html.ActionLink("Booking", "BookingLoadByCustomerIdOrAll", new { id=item.CustomerID }) |
            @Html.ActionLink("Cads", "CardLoadByCustomerIdOrAll", new { id=item.CustomerID }) |
            @Html.ActionLink("Detail", "CustomerDetail", new { id = item.CustomerID })
        </td>
    </tr>
}

</table>
