﻿@model TestHotel.Customer

@{
    ViewBag.Title = "Customer Details";
}

<h2>Customer Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocalCustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocalCustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermissionStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermissionStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatorTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatorTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdaterTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdaterTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMerged)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMerged)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MergedCustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MergedCustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interests)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "CustomerCreate", new { id = Model.CustomerID }) |
    <br>
    @using (Html.BeginForm("CustomerDelete", "Customer", new { id = Model.CustomerID }, FormMethod.Post, new { id = "delete" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            <li><a href="javascript:{
                   if(confirm('You have delete this customer!')) {
                        document.getElementById('delete').submit();
                   } else {
                     document.getElementById('back').onclick();
                }}">Delete</a></li>
        </ul>
    }
    <br>
    @Html.ActionLink("Back to List", "CustomerLoadAll", new { id = "" }, new {id = "back" })
</p>
